<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <h1>The Student</h1>
    <ul>
        <li>Name: </strong>Kagbude Christabel</li>
        <li>School: </strong>Alt School of Engineering</li>
        <li>Track: </strong>Backend Engineering</li>
        <li>Language: </strong>Nodejs</li>
    </ul>
</body>
</html>